/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#212121;
}

h1,
h2,
h3,
h4,
h5{
    font-weight: 700;
    color:#33475b;
}

/*UTULITY*/

/*LAYOUT*/
.container{
    width: 1100px;
    margin: 0 auto;
}
body a:hover{
    color: yellow;
    cursor: pointer;
}
 /*cleafix*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.w-50{
    width: 50%;
}
/*LISTE*/
.liste-inline li {  /*da mettere ul*/
    display: inline-block;
    list-style: none;
    padding: 5px;
    color: #33475b;
}
.liste-inline li a{
    font-weight: 700;
    text-decoration: none;  
}


/*BOTTONI*/
.bottons{
   /* display: inline-block;*/
    text-decoration: none;
    min-width: 100px;
    padding: 10px;
    text-align: center; 
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}
.bottons.bottons-orange{ 
    color:#fff;
    background: #fe775a;
    border: 1px solid transparent;
}
.bottons.bottons-big {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    
}

.bottom-header .fa-search:before{
    color: #79cddc;
}

/*HEADER TOP*/
.header{
    line-height: 80px;
    font-size: 12px;
    background: #f4f9fd;
    border-bottom: 1px solid #567492;
}
.header .top-header{
    width: 50%;
}
.header .bottom-header{
    width: 50%;
    text-align: right;
}

/*MAIN*/
.main-header{
    line-height: 80px;
    font-size: 12px;
    background: #fff;
}
.main-header .logo{
    width: 50%;  
}
.main-header .logo img{
    vertical-align: middle;

}
.main-header a:hover{
    color:yellow;
    cursor: pointer;
}
/*HERO*/
.hero{
    line-height: 30px;
    height: 480px;
    background:#fff2ee;
    background-image:url(../img/jumbotron.png) ;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 90% 110%;
}
.hero .container{
    position: relative;
    height: 100%;
}
.hero .text-hero{
    position: absolute;
    left: 0;
    top: 50%; 
    transform:translateY(-50%);
}
.hero .text-hero h1{
    margin-bottom: 20px;
    font-size: 40px;
}
/*para da devedere di mettere nell uti*/
.hero .paragraph{ 
    margin-top: 20px;
    margin-bottom: 20px;
}
/*FOOTER HERO*/
.hero-footer{
    position:absolute;
    left: 0;
    top: 78%;
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
    background: #afebe4;
    border-top: 1px solid #486b78;
    border-bottom: 1px solid #486b78;
}

 
  

























/*questo e il colore delle liste #33475b*/