/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#212121;

}

h1,
h2,
h3,
h4,
h5
{
    font-weight: 700;
    color:#33475b;
}

/*UTULITY*/

/*LAYOUT*/
.container{
    width: 1100px;
    margin: 0 auto;
}
.container-2{
    width: 100%;
    margin: 0 auto;
    background: #f4f9fd;
}
.container-3{
    width: 900px;
    margin: 0 auto;
}

body a:hover{
    color: greenyellow;
    cursor: pointer;
}
.w-50{
    width: 50%;
}
.w-40{
   width: 40%;
}
.w-60{
    width: 60%;
}
.w-25{
    width: 25%;
}
.w-30{ 
    width: 30%;
}
.w-70{
    width: 70%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
 /*cleafix*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
/*CHECK-ORANGE*/
.check-orange{
    padding-top: 30px;
    color:#fe775a ;
}
/*LISTE*/
.liste-inline li {  /*da mettere ul*/
    display: inline-block;
    list-style: none;
    padding: 5px;
    color: #33475b;
}
.liste-inline li a{
    font-weight: 700;
    text-decoration: none;  
}
.liste-inline-2 li{
    display:inline-block;
    list-style: none; 
}
.lista-4 li{
  display: inline-block;
  list-style: none;
  padding: 5px;
  color: #fff;
}
.lista-4 a{
    color: #fff;
    text-decoration: none;
}
.lista-inline-3{
    display: inline-block;
    list-style: none;
    line-height: 50px;
    color: #fff;
}
.lista-inline-3 a:not(.bnt-footer){
    text-decoration: none;
    color: #fff;
}
/*LISTA NORMALE*/
.lista{
    height: 200px;
    text-align: left;
    list-style:none;
    color: #33475b;
}
.lista li a {
    text-decoration: none;
}
/*lista a tendina*/
.top-header li ul{
    display: none;
}
.top-header li:hover ul{
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    background: white;
}
/*PARAGRAFO*/
.paragraph{
    line-height: 30px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.paragraph-2{
    line-height: 30px;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*BOTTONI*/
.bottons{
   /* display: inline-block;*/    
    text-decoration: none;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}
.bottons.bottons-orange{ 
    color:#fff;
    background: #fe775a;
    border: 1px solid transparent;
}
.bottons.bottons-big {
    display: inline-block;
    padding: 15px;
    margin-bottom: 10px;      
}
.bottons-2{
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    background:#fe775a;
    border: 1px solid transparent;
    border-radius: 5px;
}
.bnt-footer{
    text-decoration: none;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    color: #32495b;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
}
/*HEADER TOP*/
.header{
    line-height: 80px;
    font-size: 12px;
    background: #f4f9fd;
    border-bottom: 1px solid #567492;
}
.header .top-header{
    width: 50%;
}
.header .right-header{
    width: 50%;
    text-align: right;
}
/*MAIN*/
.header-bottom{
    line-height: 80px;
    font-size: 12px;
    background: #fff;
}
.header-bottom .logo{
    width: 50%;  
}
.header-bottom .logo img{
    vertical-align: middle;
}
.header-bottom a:hover{
    color:yellow;
    cursor: pointer;
}
/*HERO MAIN CONTENT*/
.hero{
    line-height: 30px;
    height: 700px;
    background:#fff2ee;
    background-image:url(../img/jumbotron.png) ;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 90% 110%;
}
.hero .container{
    position: relative;
    height: 100%;
}
.hero .text-hero{
    position: absolute;
    left: 0;
    top: 30%; 
    transform:translateY(-30%);
}
.hero .text-hero h1{
    margin-bottom: 20px;
    font-size: 40px;
}
/*FOOTER HERO*/
.hero-footer{
    position:relative;
    left: 0;
    bottom: 6%;
    height: 100px;
    background: #afebe4;
    border-top: 3px solid #486b78;
    border-bottom: 3px solid #486b78;
}
/*SEZIONE COLORATA*/
.box-color .cube-img{ 
    text-align: center;
}
.box-color .cube-img img{
    height: 150px;
    margin-top: 100px;
}
/*CRM*/
.box-crm{
    height: 300px;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 250px;
    margin-bottom: 40px;
    background: #fff;
}
.box-crm.sha{
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 2px #888
}
.free-crm{
    width: 20%;
}
.free-text{
    width: 70%;
    margin-left: 10%;
}
.h2-riga-dri{
    display: inline-block;
}
.coll-hr{
    position: relative;
    left: 40%;
    transform: translateY(-15px);
    width: 50%;     
}
/*PRIMA COLONNA*/
.coll{
    font-size: 12px;
    margin-bottom: 20px;
}
.coll h2{
    margin: 25px 0;
}
.coll img{
    height: 120px;
}
.prima-coll{
    text-align: center;
    background: #fff;  
}
.prima-coll{
    width: 29%;
    margin: 2%;
}
.prima-coll.sha{
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 2px #888;
}
/*seconda colonna*/
.seconda-coll{
    text-align: center;
    background: #fff;
}
.seconda-coll{
    width: 29%;
    margin: 2%;
}
.seconda-coll.sha{
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 2px #888;
}
/*terza colonna*/
.terza-coll{
    text-align: center;
    background: #fff;
}
.terza-coll{
    width: 29%;
    margin: 2%;
}
.terza-coll.sha{
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 2px #888;
}
/*SEZIONE LEARN*/
.learn{
    background: linear-gradient(#00a9b8,#00bba6);
}
.learn-text{
    text-align: center;
    padding-top: 20px ;
}
.learn h2{
    font-size: 25px;
    padding-top: 30px;
    color: #fff;
}
/*LEARN PARAGRAPH*/
.learn-para{
    font-size: 13px;
    line-height: 20px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}
/*4 COLONNE*/
.colonne{
    height: 550px;
    width: max-content;
    padding-top: 50px;
    padding-bottom: 100px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
.colonne h3{
    font-size: 35px;
    color: #fff;
}
.colonne h6{
    color: #fff;
}
.colonne .uno,.due,.tre,.quattro{
    border-bottom: 1px solid white;
    padding-bottom: 50px;  
}
.colonne .uno,.due,.tre{
    border-right: 1px solid white;
}
.colonne .cinque,.sei,.sette,.otto{
    padding-top: 50px;
}
.colonne .cinque,.sei,.sette{
    border-right: 1px solid white;
}
/*SEZIONE IMMAGINI PICCOLE AZIENDE*/
.aziende{
    height: 300px;
    padding-top: 50px;
}
.cifra{
    text-align: center;
}
.cifra{
  width: 30%;
  margin-right: 10%;
}
.cifra h2{
    font-size: 38px;
    padding-bottom: 30px;
}
.cifra p{
  font-size: 14px;
  line-height: 30px;
}
/*ICONE IMMAGINI*/

.img{
    width: 22%;
    padding:3%;
    vertical-align: middle;
}
/*MAIN FOOTER*/
.start-text{
    padding-bottom: 50px;
}
.start-text p{
   font-size: 12px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.woman-img{
   width: 450px; 
   text-align: right;
}
/*FOOTER*/
.footer-top{
    height: 850px;
    background: #32495b;
    padding: 50px;
    margin-bottom: 50px;
}
.footer-top h6{
    font-size: 16px;
    color: #fff;
}
.footer-lingue{
    height: 150px;
    padding-top: 100px;
    text-align: center;
}
.footer-lingue.lista-4{
    text-align: center;
}
.loghi i{
  padding: 15px;
  color: #fff;

}
/*LOGO HUB*/
.hub-logo{
    padding-top: 20px;
}

.hub-logo p{
   color: #fff;
}
/*PRIVACY*/
.privacy .lista-4{
    padding-top: 20px;
    text-align: right;
}
/*Bottnone chat*/















