/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #212121;
}

h1,
h2,
h3,
h4,
h5{
    font-weight: 700;
    color: #707f8d;
 
}

/*UTULITY*/

/*LAYOUT*/
.container{
    width: 1100px;
    margin: 0 auto;
}
 /*cleafix*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.w-50{
    width: 50%;
}
/*LISTE*/
.liste-inline li {  /*da mettere ul*/
    display: inline-block;
    list-style: none;
    padding: 5px;
    color: #33475b;
}
.liste-inline li a{
    font-weight: 700;
    text-decoration: none;  
}


/*BOTTONI*/
.bottons{
   /* display: inline-block;*/
    min-width: 100px;
    padding: 10px;
    text-align: center; 
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}
.bottons.bottons-orange{ 
    color:#fff;
    background: #fe775a;
    border: 1px solid transparent;
}
.bottons.bottons-big{
    padding: 10px;
}

.bottom-header .fa-search:before{
    color: #79cddc;
}

/*HEADER TOP*/
.header{
    line-height: 80px;
    font-size: 12px;
    background: #f4f9fd;
    border-bottom: 1px solid #567492;
}
.header .top-header{
    width: 50%;
}
.header .bottom-header{
    width: 50%;
    text-align: right;
}
.header a:hover{
    color: yellow;
    cursor: pointer;
}
/*MAIN*/
.main-header{
    line-height: 80px;
    font-size: 12px;
    background: #fff;
}
.main-header .logo{
    width: 50%;  
}
.main-header .logo img{
    vertical-align: middle;

}
.main-header a:hover{
    color:yellow;
    cursor: pointer;
}
/**/






























/*questo e il colore delle liste #33475b*/